<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .msgBox{
            width: 300px;
            border: 1px solid black;
        }
        .fromMsgBox{
            text-align:right;
            background-color:yellow;
            border: 1px solid black;
        }
        .toMsgBox{
            text-align:left;
            background-color:green;
            border: 1px solid black;
        }
        .alarmMsgBox{
            text-align:center;
            background-color:gray;
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <div>
        <div class="msgBox">

        </div>
        <input id="msg">
        <button onclick="onMsgSend()">메시지 전송</button>
    </div>
    
    <script src="/js/chat/chat.js"></script>
</body>
</html>